.lv1:hover {opacity: 1;}
.lv2:hover {opacity: 1;}
.lv3:hover {opacity: 1;}
.lv4:hover {opacity: 1;}
.lv5:hover {opacity: 1;}
.lv6:hover {opacity: 1;}
.lv7:hover {opacity: 1;}
.lv8:hover {opacity: 1;}
.lv9:hover {opacity: 1;}
.lv10:hover {opacity: 1;}

body {
    width: 0;
    height: 0;
}

.lv1 {
    opacity: 1;
    position: relative;
    top: 100px;
    left: 75px;
}

.lv2 {
    opacity: 1;
    position: relative;
    top: 10cm;
    left: 15cm;
}

.lv3 {
    opacity: 1;
    position: relative;
    top: 5cm;
    left: 24cm;
}

.lv4 {
    opacity: 1;
    position: relative;
    top: 13cm;
    left: 20cm;
}

.lv5 {
    opacity: 1;
    position: relative;
    top: 7cm;
    left: 1cm;
}

.lv6 {
    opacity: 1;
    position: relative;
    top: 12cm;
    left: 24cm;
}

.lv7 {
    opacity: 1;
    position: relative;
    top: 10cm;
    left: 30cm;
}

.lv8 {
    opacity: 1;
    position: relative;
    top: 10cm;
    left: 1cm;
}

.lv9 {
    opacity: 1;
    position: relative;
    top: 144px;
    left: 90px;
}

.lv10 {
    opacity: 1;
    position: relative;
    top: 10cm;
    left: 30cm;
}