.lv1:hover {opacity: 1;}
.lv2:hover {opacity: 1;}
.lv3:hover {opacity: 1;}
.lv4:hover {opacity: 1;}
.lv5:hover {opacity: 1;}
.lv6:hover {opacity: 1;}
.lv7:hover {opacity: 1;}
.lv8:hover {opacity: 1;}
.lv9:hover {opacity: 1;}
.lv10:hover {opacity: 1;}

body {
    width: 0;
    height: 0;
}

.lv1 {
    opacity: 0;
    position: relative;
    top: 100px;
    left: 75px;
}

.lv2 {
    opacity: 0;
    position: relative;
    top: 100px;
    left: 105px;
}

.lv3 {
    opacity: 0;
    position: relative;
    top: 80px;
    left: 75px;
}

.lv4 {
    opacity: 0;
    position: relative;
    top: 70px;
    left: 75px;
}

.lv5 {
    opacity: 0;
    position: relative;
    top: 105px;
    left: 105px;
}

.lv6 {
    opacity: 0;
    position: relative;
    top: 120px;
    left: 125px;
}

.lv7 {
    opacity: 0;
    position: relative;
    top: 140px;
    left: 67px;
}

.lv8 {
    opacity: 0;
    position: relative;
    top: 121px;
    left: 55px;
}

.lv9 {
    opacity: 0;
    position: relative;
    top: 144px;
    left: 90px;
}

.lv10 {
    opacity: 0;
    position: relative;
    top: 100px;
    left: 100px;
}